.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  /*background-color: #0000001a;*/
  display: flex;
  justify-content:  center;
  align-items: center;
  z-index: 999; /* Ensure it's on top */
}

.modal {
  background-color: #F9F9F9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 55%;
  border-radius: 5px;
  border: 1px solid #8B8B8B;
  z-index: 1000; /* Ensure it's on top of the overlay */
}

.close {
  position: relative;
  top: 5px;
  right: 1px;
  cursor: pointer;
}

.message_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message_bubble {
  background-color: #f3eeee;
  color: #424141;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.button_like_input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #352d2d;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  outline: none;
}

.button_like_input:hover {
  background-color: rgb(199, 194, 194);
}

.button_comment_input {
  appearance: none;
  background-color: #F2F2F2;
  border: 1px solid #FFF;
  border-radius: 15px;
  width: 100%;
  text-align: start;
  padding: 10px 15px;
  font-size: 16px;
  color: #000;
  outline: none;

}

/* Add styles for button focus state */
.button_like_input:focus {
  border-color: #007bff; /* Change color on focus */
  box-shadow: 0 0 1px rgba(0, 123, 255, 0.7); /* Add a subtle box shadow on focus */
}