@import url('https://fonts.googleapis.com/css?family=Abel');

body {
	background-color: #fff;
	font-family: Abel, Arial, Verdana, sans-serif;
	font-size: 16px;
}

.round {
	border: 2px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
	box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
}

.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

.center {
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}